<br>
<div class="container">	
	<h1>Edit Details</h1>
	<%= form_with(model: @student, local: true) do |f| %>
	<p>
		<%=f.label :student_name %><br>
		<%=f.text_field :student_name ,class:"form-control"%>
	</p>
	<p>
		<%=f.label :Roll_number%><br>
		<%=f.text_field :roll ,class:"form-control"%>
	</p>
	<p>
		<%=f.label :Section %><br>
		<%=f.text_field :section ,class:"form-control"%>
	</p>
	<p>
		<%=f.label :Maths %><br>
		<%=f.text_field :maths ,class:"form-control"%>
	</p>
	<p>
		<%=f.label :English %><br>
		<%=f.text_field :english ,class:"form-control"%>
	</p>
	<p>
		<%=f.label :Science %><br>
		<%=f.text_field :science,class:"form-control"%>
	</p>
	<p>
		<%=f.label :total %><br>
        <%= f.text_field :total, class: "form-control", placeholder: "Enter your Total Marks", value: @student.maths + @student.english + @student.science %>
	</p>
	
	<p>
		<%=f.submit class:"btn btn-secondary"%>
	</p>



	<% end %> 
	<%=link_to 'Back to students',students_path%>
</div>
