<br>
<div class="container">
	<h1>Add Student Details</h1>

	<%= form_with scope: :student,url: students_path , local: true do |f| %>
	<div class="form-group">
	<p>
		<%=f.label :student_name %><br>
		<%=f.text_field :student_name ,class:"form-control",placeholder:"Enter your name"%>
	</p>
	</div>

	<div class="form-group">
	<p>
		<%=f.label :Roll_number %><br>
		<%=f.text_field :roll,class:"form-control",placeholder:"roll number" %>
	</p>
	</div>

	<div class="form-group">
	<p>
		<%=f.label :Section %><br>
		<%=f.text_field :section,class:"form-control",placeholder:"Enter your Section" %>
	</p>
	</div>
	<div class="form-group">
	<p>
		<%=f.label :Maths %><br>
		<%=f.text_field :maths,class:"form-control",placeholder:"Enter your Marks" %>
	</p>
	</div>
	<div class="form-group">
	<p>
		<%=f.label :English %><br>
		<%=f.text_field :english,class:"form-control",placeholder:"Enter your Marks" %>
	</p>
	</div>
	<div class="form-group">
	<p>
		<%=f.label :Science %><br>
		<%=f.text_field :science,class:"form-control",placeholder:"Enter your Marks" %>
	</p>
	</div>
	

	<div class="form-group">
	<p>
		<%=f.submit class:'btn btn-secondary'%>
	</p>
	</div>


	<% end %>
	<%=link_to 'Back to students',students_path,class:"btn btn-primary"%>
</div>